<div class="flex flex-col h-screen bg-base-100">
  <app-header (toggleSidebar)="toggleSidebar()" [isSidebarOpen]="sidebarOpen"></app-header>
  <div class="flex flex-1 overflow-hidden">
    <div class="fixed top-16 left-0 h-[calc(100vh-4rem)] bg-base-200 z-30 shadow-lg">
      <app-sidebar [isOpen]="sidebarOpen"></app-sidebar>
    </div>

    <div
      *ngIf="sidebarOpen && (isSmallScreen$ | async)"
      class="fixed inset-0 bg-opacity-50 z-20 md:hidden"
      (click)="toggleSidebar()"
    ></div>

    <main [ngClass]="{
  'ml-14': !sidebarOpen,
  'ml-64': sidebarOpen
}" class="flex-1 p-6 overflow-y-auto transition-all duration-200 bg-base-100 " >
      <router-outlet></router-outlet>
    </main>
  </div>
</div>