<div class="flex flex-col h-screen bg-gray-100">
  <app-header (toggleSidebar)="toggleSidebar()" [isSidebarOpen]="sidebarOpen"></app-header>
<h1 *kaHasRoles="['offline_access']"> ALOOOOOOOO</h1>
  <div class="drawer drawer-mobile flex-1">
    <input
      id="sidebar-drawer"
      type="checkbox"
      class="drawer-toggle"
      [checked]="sidebarOpen"
      (change)="onDrawerChange($event)"
    />

    <div class="drawer-content flex flex-col">
      <main class="p-6 flex-1 overflow-y-auto">
        <router-outlet></router-outlet>
      </main>
    </div>

    <div class="drawer-side">
      <label for="sidebar-drawer" class="drawer-overlay"></label>
      <app-sidebar [isOpen]="sidebarOpen"></app-sidebar>
    </div>
  </div>
</div>