<header
  class="w-full bg-base-200 shadow text-base-content flex items-center justify-between px-6 py-3"
>
  <div class="flex items-center">
    <div class="flex items-center cursor-pointer" routerLink="/">
      <svg
        id="Layer_1"
        class="w-8 h-8 mr-3"
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        viewBox="0 0 275 242"
        aria-label="andrea logo"
        role="img"
      >
        <path
          fill="currentColor"
          d="M271.4,198.7c-.2-.3-.3-.6-.5-.9l-45.5-78.7-10.1-17.4-49.1-85c-12.8-22.2-44.9-22.2-57.7,0l-49.9,86.4-10.1,17.4L4,197.8c-.2.3-.3.6-.5.9-12.2,22.7,9.1,49,34,42.2,18.6-5.1,40.7-8.9,64.8-10.7,10.4-.8,18.5-9.6,18.5-20v-1.3c0-7.1-3.8-13.8-10-17.3-16.9-9.7-27.9-28.5-26.6-49.7,1.7-26.5,23.2-48,49.7-49.7,32.2-2,58.7,24.5,56.6,56.6-1.1,18-11.5,33.7-26.3,42.5-6.3,3.7-10.3,10.3-10.3,17.5v1.4c0,10.5,8,19.2,18.5,20,24.1,1.9,46.2,5.6,64.8,10.7,24.9,6.9,46.3-19.5,34-42.2Z"
        />
        <circle cx="137.5" cy="145.6" r="34.3" fill="currentColor" />
      </svg>

      <h1 class="text-xl font-semibold">
        {{ "HEADER.HOME" | translate }}
      </h1>
    </div>

    <button
      (click)="onToggleClick()"
      class="p-2 rounded-full hover:bg-cyan-500 transition-colors focus:outline-none"
      title="{{ 'HEADER.TOGGLE' | translate }}"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6 transition-transform duration-300"
        [class.rotate-90]="isSidebarOpen"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        />
      </svg>
    </button>
  </div>

  <div class="flex items-center gap-4">
    <div class="relative inline-block text-left">
      <button
        (click)="open = !open"
        class="flex items-center gap-2 border border-gray-300 rounded-lg px-3 py-1.5 bg-base-100 shadow-sm"
      >
        <span *ngIf="currentLang === 'en'">🇬🇧 English</span>
        <span *ngIf="currentLang === 'sr'">🇷🇸 Srpski</span>
        <svg
          class="w-4 h-4 opacity-70"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19 9l-7 7-7-7"
          />
        </svg>
      </button>

      <div
        *ngIf="open"
        class="absolute right-0 mt-2 w-32 bg-base-100 border border-gray-200 rounded-lg shadow-lg"
      >
        <button
          class="flex w-full items-center gap-2 px-3 py-2 hover:bg-base-200"
          (click)="switchLang('en'); open = false"
        >
          🇬🇧 English
        </button>

        <button
          class="flex w-full items-center gap-2 px-3 py-2 hover:bg-base-200"
          (click)="switchLang('sr'); open = false"
        >
          🇷🇸 Srpski
        </button>
      </div>
    </div>

    <div>
      <label class="swap swap-rotate">
        <input type="checkbox" (click)="toggleTheme()" />

        <svg
          class="swap-on h-7 w-7 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"
          />
        </svg>

        <svg
          class="swap-off h-7 w-7 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"
          />
        </svg>
      </label>
    </div>

    <div class="dropdown dropdown-end">
      <div tabindex="0" class="avatar cursor-pointer">
        <div
          class="w-10 h-10 rounded-full bg-primary text-primary-content flex items-center justify-center font-semibold shadow hover:shadow-lg hover:scale-105 transition-all"
        >
          {{ (auth.getCurrentUserValue()?.firstName?.[0] || '?').toUpperCase() }}
        </div>
      </div>

      <ul
        tabindex="0"
        class="dropdown-content z-50 menu p-2 mt-2 shadow bg-base-100 rounded-box w-52"
      >
        <li class="menu-title">
          <span class="opacity-70">{{ "COMMON.ACCOUNT" | translate }}</span>
        </li>
        <!-- 
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>

        <li>
          <a>Settings</a>
        </li>

        <div class="divider my-1"></div> -->

        <li>
          <button (click)="logout()" class="text-error font-semibold">
            {{ "COMMON.LOGOUT" | translate }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
